<link href="~/Content/tree.css" rel="stylesheet" />
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12 widget-container-span"  id="tree"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['controllers/test/tree'], function (page) {
        page.initialize({
            treeDataUrl: '@Scripts.Url("~/api/test/tree")',
            el: "#tree",
            imgUrl: '@Scripts.Url("~/Images")',
            editorTemplateUrl: '@Scripts.Url("~/App_StaticViews/editMenuDlg.html")'
        });
    });
</script>