@{
    ViewBag.Title = "首页";
}

@section pagelinks{
    
}

@section pagebody{
    <div id="tabs"></div>
}

@section pagescripts{
    <script type="text/javascript">
        require(['controllers/home/index'], function (page) {
            page.initialize({
                menuDataUrl: '@Scripts.Url("~/api/test/tree")',
                el: '#menubar',
                tabID: "#tabs"
            });
        });
    </script>
}
