@{
    ViewBag.Title = "基础数据";
}

@section pagelinks{
    
}

@section pagebody{
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12 widget-container-span"  id="customerWidget"></div>
            </div>
        </div>
    </div>
}

@section pagescripts{
    <script type="text/javascript">
        require(['controllers/home/index'], function (page) {
            page.initialize({
                apiUrl: '@Scripts.Url("~/api/customer")',
                customerDlgUrl: '@Scripts.Url("~/App_StaticViews/editCustomerDlg.html")'
            });
        });
    </script>
}
